﻿<div>
    <h3>Create\Edit customer</h3>
</div>

<div ng-show="isSuccessfull == true" class="collapse alert alert-success fade in">
    <a class="close" role="button" data-dismiss="alert">&times;</a>
    <strong>Success!</strong> Customer data has been saved!
</div>

<div ng-show="isSuccessfull == false" class="collapse alert alert-danger fade in">
    <a class="close" role="button" data-dismiss="alert">&times;</a>
    <strong>Error!</strong> A problem has been occurred while submitting your data.
</div>

<div style="width: 400px;">
    <form name="editform" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label">First Name <span style="color: red">*</span></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="customer.FirstName" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Last Name <span style="color: red">*</span></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="customer.LastName" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Company</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="customer.Company"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Email <span style="color: red">*</span></label>
            <div class="col-sm-8">
                <input type="email" class="form-control" ng-model="customer.Email"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Phone</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="customer.Phone" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Address</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="customer.Address" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="button" class="btn btn-link" ng-click="reset()" value="Cancel" />
                <input type="submit" class="btn btn-primary" ng-click="update(customer)" value="Save" />
            </div>
        </div>
    </form>
</div>