﻿<h3>Customers</h3>
<div style="margin-bottom: 20px;">
    <a href="/#/addCustomer">Create New</a>
</div>
<div style="margin-bottom: 20px;">
    Filter <br/>
    <input type="search" class="form-control" ng-model="searchCustomer" style="width: 300px;"/>
</div>
<table class="table">
    <thead class="thead-default">
        <tr>
            <th></th>
            <th></th>
            <th>Full Name</th>
            <th>Company</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="customer in customers | filter:searchCustomer">
        <td>
            <a href="/#/viewCustomer/{{ customer.Id }}">Edit</a>
        </td>
        <td>
            <button ng-click="deleteCustomer(customer.Id)" class="btn-link">Delete</button>
        </td>
        <td>
            {{ customer.getFullName() }}
        </td>
        <td>
            {{ customer.Company }}
        </td>
        <td>
            {{ customer.Email }}
        </td>
        <td>
            {{ customer.Phone }}
        </td>
        <td>
            {{ customer.Address }}
        </td>
    </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                <ul class="pagination">
                    <li ng-repeat="page in pages"><a ng-click="showPage(page)" role="button">{{page + 1}}</a></li>
                </ul>
            </td>
        </tr>
    </tfoot>
</table>