﻿<div>
    <h3>Create\Edit Invoice</h3>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="col-xs-5">
            <select class="form-control" ng-model="invoice.CustomerId">
                <option value="0"></option>
                <option ng-repeat="customer in customers" value="{{customer.Id}}">{{customer.FirstName}} {{customer.LastName}}</option>
            </select>
        </div>
    </div>
    <div class="col-xs-6">
        
    </div>
</div>