﻿<div>
    <div>
        <h1>{{welcome}}</h1>
    </div>

    <div ng-repeat="link in links">
        <span style="font-weight: bold">{{ link.title }}</span>
        <div style="padding-bottom: 10px;">
            <a href="{{ link.href }}">{{ link.href }}</a>
        </div>
    </div>
</div>